[submodule "libs/SMCKit"]
	path = libs/SMCKit
	url = https://github.com/beltex/SMCKit.git
[submodule "libs/SystemKit"]
	path = libs/SystemKit
	url = https://github.com/beltex/SystemKit.git
[submodule "libs/CommandLine"]
	path = libs/CommandLine
	url = https://github.com/jatoben/CommandLine.git
